*.lock
*.scss
*.map
*/Pipfile
python/flask/fundamentals/checkerboard/Pipfile
python/flask/fundamentals/hello_flask/Pipfile
python/flask/fundamentals/html_tables/Pipfile
python/flask/fundamentals/dojo_survey/Pipfile
resumes/High5.jpg
resumes/Michael Akinosho Career Services Assignment  - Building Your Narrative.gdoc
resumes/Myers-Briggs.jpg
resumes/ProtagonistPersonalityType.pdf
python/flask_mysql/crud/Users_CRUD/Pipfile
python/flask_mysql/db_connection/first_flask_mysql/Pipfile
python/flask_mysql/validation/login_and_registration/Pipfile
data-science-assignments/08 - Gradient Boosting Algorithms/tabular-playground-series-dec-2021/sample_submission.csv
data-science-assignments/08 - Gradient Boosting Algorithms/tabular-playground-series-dec-2021/test.csv
data-science-assignments/08 - Gradient Boosting Algorithms/tabular-playground-series-dec-2021/test3.csv
data-science-assignments/08 - Gradient Boosting Algorithms/tabular-playground-series-dec-2021/train.csv
python/flask_mysql/validation/private_wall/Pipfile
resumes/Michael Akinosho Job Tracking Networking.gsheet
python/flask_mysql/validation/private_wall/screenshots.docx
data-science-assignments/Data Table Display
