*.lock
*.scss
*.map
*/Pipfile
python/flask/fundamentals/checkerboard/Pipfile
python/flask/fundamentals/hello_flask/Pipfile
python/flask/fundamentals/html_tables/Pipfile
python/flask/fundamentals/dojo_survey/Pipfile
resumes/High5.jpg
resumes/Michael Akinosho Career Services Assignment  - Building Your Narrative.gdoc
resumes/Myers-Briggs.jpg
resumes/ProtagonistPersonalityType.pdf
