*.lock
*.scss
*.map
*/Pipfile
python/flask/fundamentals/checkerboard/Pipfile
python/flask/fundamentals/hello_flask/Pipfile
python/flask/fundamentals/html_tables/Pipfile
python/flask/fundamentals/dojo_survey/Pipfile
resumes/High5.jpg
resumes/Michael Akinosho Career Services Assignment  - Building Your Narrative.gdoc
resumes/Myers-Briggs.jpg
resumes/ProtagonistPersonalityType.pdf
python/flask_mysql/crud/Users_CRUD/Pipfile
python/flask_mysql/db_connection/first_flask_mysql/Pipfile
python/flask_mysql/validation/login_and_registration/Pipfile
data-science-assignments/08 - Gradient Boosting Algorithms/tabular-playground-series-dec-2021/sample_submission.csv
data-science-assignments/08 - Gradient Boosting Algorithms/tabular-playground-series-dec-2021/test.csv
data-science-assignments/08 - Gradient Boosting Algorithms/tabular-playground-series-dec-2021/test3.csv
data-science-assignments/08 - Gradient Boosting Algorithms/tabular-playground-series-dec-2021/train.csv
python/flask_mysql/validation/private_wall/Pipfile
resumes/Michael Akinosho Job Tracking Networking.gsheet
python/flask_mysql/validation/private_wall/screenshots.docx
data-science-assignments/Data Table Display
data-science-assignments/.tmp.driveupload/19004
data-science-assignments/11 - Deep Learning/fashion-mnist_test.csv
data-science-assignments/11 - Deep Learning/fashion-mnist_train.csv
data-science-assignments/11 - Deep Learning/nba.csv
data-science-assignments/08 - Gradient Boosting Algorithms/tabular-playground-series-dec-2021/file_submission.csv
data-science-assignments/11 - Deep Learning/tabular-playground-series-jan-2022/file_submission.csv
data-science-assignments/11 - Deep Learning/tabular-playground-series-jan-2022/file_submission2.csv
data-science-assignments/11 - Deep Learning/tabular-playground-series-jan-2022/file_submission3.csv
data-science-assignments/11 - Deep Learning/tabular-playground-series-jan-2022/file_submission4.csv
data-science-assignments/11 - Deep Learning/tabular-playground-series-jan-2022/file_submission5.csv
data-science-assignments/11 - Deep Learning/tabular-playground-series-jan-2022/sample_submission.csv
data-science-assignments/11 - Deep Learning/tabular-playground-series-jan-2022/test.csv
data-science-assignments/11 - Deep Learning/tabular-playground-series-jan-2022/test2.csv
data-science-assignments/11 - Deep Learning/tabular-playground-series-jan-2022/train.csv
