<!DOCTYPE html>
<html lang="en">
<head>
    <title>Working with HTML tables</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.2/dist/css/uikit.min.css">
</head>
<body>
    <div class="uk-overflow_auto uk-container uk-container-xsmall">
        <h3>Version created with UIKit Framework!!</h3>
        <a href="https://getuikit.com/docs/table">UI Kit</a>
    </div>
    <div class="uk-overflow_auto uk-container uk-container-xsmall">
    <table class="uk-table uk-table-divider uk-table-middle">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Full Name</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user['first_name'] }}</td>
                <td>{{ user['last_name'] }}</td>
                <td>{{ user['first_name'] }} {{ user['last_name'] }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>