<!--/*  Authored/Developed by: Michael Akinosho
    Date: October 19, 2021
    Purpose: Web Fundamentals @ Coding Dojo*/-->


    <!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Base HTML Template, Always change</title>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
                <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/site.css') }}">
                <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.2/dist/css/uikit.min.css"> -->
                <meta charset="UTF-8">
                <meta name="description" content="Template HTML file">
                <meta name="keywords" content="remember to add keywords here">
                <meta name="author" content="Michael Akinosho">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        </head>
        <body>
            <header>
                <nav class="uk-navbar-container" uk-navbar style="background-color: rgb(247, 246, 183);">
                    <div>The Header Section</div>
                    <div class="uk-navbar-left">
                        <ul class="uk-navbar-nav">
                            <il class="uk_active uk-padding"><a href="/">Home</a></il>
                            
                            <il class="uk-padding"><a href="/">Add Item 3</a></il>
                        </ul>
                    </div>
                </nav>
    
            </header>
            <main>
                <div>
                    <form action="/logout" method="POST">
                        <div>
                            <input type="submit" value="Logout">
                        </div>
                    </form>
                </div>
                <div class="uk-flex uk-overflow_auto uk-container uk-flex-column uk-flex-center uk-flex-middle">
                    <div>
                    {% for user in one_user %}
                        <h1>Welcome {{ user.first_name }}!!!</h1>
                    {% endfor %}
                    </div>
                    <div>
                    <table class="uk-table uk-table-divider uk-table-middle">
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Created At</th>
                            
                        </tr>
                        {% for user in one_user %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.created_at }}</td>
                            
                            </tr>
                        {% endfor %}
                    </table>
                    </div>
                </div>
                
            </main>
            <footer>
                <nav class="uk-navbar-container" uk-navbar style="background-color: rgb(247, 246, 183);">
                    <div>The Footer Section</div>
                    <div class="uk-navbar-left">
                        <ul class="uk-navbar-nav">
                            <il class="uk_active uk-padding"><p></p></il>
                        </ul>
                    </div>
                </nav>
    
            </footer>
            <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
        </body>
    </html>