<!--/*  Authored/Developed by: Michael Akinosho
    Date: October 19, 2021
    Purpose: Web Fundamentals @ Coding Dojo*/-->


<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register | Login</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/site.css') }}">
            <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.2/dist/css/uikit.min.css"> -->
            <meta charset="UTF-8">
            <meta name="description" content="Template HTML file">
            <meta name="keywords" content="remember to add keywords here">
            <meta name="author" content="Michael Akinosho">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    
    <body>
        <header>
            <nav class="uk-navbar-container" uk-navbar style="background-color: rgb(255, 255, 255);">
                
            </nav>

        </header>
        <main>
            
            <div class="uk-flex uk-overflow_auto uk-container uk-flex-center uk-column-1-2-3">
                <div class="uk-padding uk-border-rounded" style="background-color:green;">
                    {% include "register_layout.html" %}
                    {% block register %}
                    <h1>Register</h1>
                    <form class="uk-form-stacked" action="/register/user" method="POST">
                        
                        <div class="uk-padding-small">
                            <label class="uk-form-label uk-text-bold uk-text-large" for="fname">First Name:</label>
                            <input class="uk-form-controls" type="text" name="fname" value={{request.form.fname}}>
                        </div>
                        <div class="uk-padding-small">
                            <label class="uk-form-label uk-text-bold uk-text-large" for="lname" for="lname">Last Name:</label>
                            <input type="text" name="lname" value={{request.form.lname}}>
                        </div>
                        <div class="uk-padding-small">
                            <label class="uk-form-label uk-text-bold uk-text-large" for="email" for="email" >Email:</label>
                            <input type="email" name="email" value={{request.form.email}}>
                        </div>
                        <div class="uk-padding-small">
                            <label class="uk-form-label uk-text-bold uk-text-large" for="password" for="password" >Password:</label>
                            <input type="password" name="password">
                        </div>
                        <div class="uk-padding-small">
                            <label class="uk-form-label uk-text-bold uk-text-large" for="confirmpassword" for="confirmpassword" >Confirm Password:</label>
                            <input type="password" name="confirmpassword">
                        </div>
                        <div class="uk-padding-small">
                            <input type="submit" value="Register">
                        </div>
                    </form>
                    {% endblock %}
                </div>

                <div class="uk-padding uk-border-rounded" style="background-color:green;">
                    {% include "login_layout.html" %}
                    {% block login %}
                    
                    <h1>Login</h1>
                    <form class="uk-form-stacked" action="/login/user" method="POST">
                        <div class="uk-padding-small">
                            <label class="uk-form-label uk-text-bold uk-text-large" for="email" for="email" >Email:</label>
                            <input type="email" name="email">
                        </div>
                        <div class="uk-padding-small">
                            <label class="uk-form-label uk-text-bold uk-text-large" for="password" for="password" >Password:</label>
                            <input type="password" name="password">
                        </div>
                        <div class="uk-padding-small">
                            <input type="submit" value="Login">
                        </div>
                    </form>
                    {% endblock %}
                </div>
            </div>
        </main>
        <footer>
            <nav class="uk-navbar-container" uk-navbar style="background-color: rgb(255, 255, 255);">
                
            </nav>

        </footer>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>