.container {
  position: relative;
  top: 0;
  left: 0;
  height: 200px;
}
.top-bar {
  height: 100px;
  background-color: green;
}
.container>img {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 150px;
  height: 150px;
}
.container2 {
  padding: 15px;
}
.userloc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.userloc>img {
  height: 20px;
  width: 20px;
  padding-right: 10px;
}
#userskills {
  width: 250px;
  display: flex;
  text-overflow: wrap;
}
.profileLink>a>img {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}